body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.price-text{
  font-size: 0.6rem;
}
.signup-btn{
  font-size: 1.4rem;
}

.footer-info{
  font-size: 0.6rem;
}
.nav-item .nav-link{
  margin-left: 1.2rem;
  
}